<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "", suffix: " | Lift Tribe" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="border-b-2 border-black bg-midnight text-slate-50">
      <div class="container px-12 py-8 mx-auto">
        <img src={Routes.static_path(@conn, "/images/logo_small.png")} />
      </div>
    </header>
    <main class="bg-slate-50 text-midnight">
      <div class="container px-12 py-8 mx-auto">
        <%= @inner_content %>
      </div>
    </main>
    <footer class="border-t-2 border-black text-slate-50 bg-midnight">
      <div class="container px-12 py-4 mx-auto">
        <p><span class="text-orange">Lift Tribe</span> © 2022 Sebastian Göttschkes</p>
      </div>
    </footer>
  </body>
</html>
