<h1 class="font-serif text-4xl font-bold text-center text-orange">Your Workouts</h1>

<%= for workout <- @workouts do %>
  <p><%= workout.date %></p>
  <%= for set <- workout.sets do %>
    <p><%= set.exercise %>: <%= set.weight %>kg / <%= set.reps %></p>
  <% end %>
<% end %>
